
body{
	background-color: #F8F8F8;
}
/*index.html*/
/*Header*/
header{
	height:129px;
}
.header-left{
	float: left;
	color: #F8F8F8;
	font-family: "Josefin Sans";
	font-weight: bold;
	font-size: 172px;
	text-shadow:1px 1px 0 #96E8E1, -1px -1px 0 #96E8E1,
              -1px 1px 0 #96E8E1, 1px -1px 0 #96E8E1,
              0px 1px 0 #96E8E1,  0-1px 0 #96E8E1,
              -1px 0 0 #96E8E1, 1px 0 0 #96E8E1;
}
.header-right{
	float: right;
	height:129px;
	margin-top: 30px;
	margin-right: 30px;
}
/*MV*/
.mv-wrapper{
	height:612px;
	margin-bottom: 100px;
}
.mv-bg {
	background-image: url(../images/rect.png);
	background-size: cover;
	color: white;
	height: 562px;
	margin:0px 30px 0px 30px;
	position: relative;
}
.menu-wrapper{
	background-color:#F8F8F8;
	position: absolute;
	z-index:1;
	top: 345px;
	left:-30px;
	width: 380px;
	height: 266px;
	padding-top: 50px;
	padding-left: 30px;
}
.menu{
	display: block;
	height: 35px;
	margin-bottom: 15px;
}
.menu h2{
	color: #66CCC4;
	width:80px;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}
.bar{
	color: #66CCC4;
	font-size: 16px;
	float: left;
	margin-right: 20px;
}
.menu a{
	color: #51576C;
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-decoration: none;
}
.sns-wrapper{
	height: 50px;
	float: right;
	margin:0px 30px;
	padding: 10px 0;
	display: block;
}

/*about*/
.about-wrapper{
	height:706px;
	margin-bottom: 100px;
}

.about-top{
	background-image: url(../images/rect2.png);
	background-size: cover;
	height:258px;
	width:100%;
	position: relative;
}
/*centerにしたい*/
.about-top p{
	position: absolute;
	color:#fff;
	top:110px;
	left:137px;
	font-size:40px;
	font-weight: bold;
	font-family: "Noto Sans CJK JP";
	letter-spacing: 0.3em
}
.about-top h1{
	position: absolute;
	left:490px;
	top:265px;
	color: #F8F8F8;
	font-family: "Josefin Sans";
	font-weight: bold;
	font-size: 166px;
	text-shadow:1px 1px 0 #96E8E1, -1px -1px 0 #96E8E1,
              -1px 1px 0 #96E8E1, 1px -1px 0 #96E8E1,
              0px 1px 0 #96E8E1,  0-1px 0 #96E8E1,
              -1px 0 0 #96E8E1, 1px 0 0 #96E8E1;
}

.about-image img{
	height:646px;
	width: 605px;
	position: absolute;
	top: 60px;
	right: 0;
}

.about-message{
	padding: 90px 0 20px 30px;
}

.about-message p{
	font-family: "Noto Sans CJK JP";
	font-weight: 100;
	font-size: 14px;
	color: #51576C;
	margin-bottom: 50px;
}

.about-more{
	height: 46px;
	margin-left: 30px;
	padding-top: 30px;
	padding-bottom: 70px;
}

.about-more p{
	color: #66CCC4;
	font-weight: bold;
	font-family: "Josefin Sans";
	font-size: 26px;
	float: left;
	margin-right: 20px;
}


/*member*/
.member-wrapper{
	position: relative;
	height:836px;
	margin-bottom: 100px;
}
.member01{
	background-image: url(../images/member01.png);
	background-size: cover;
	position: absolute;
	z-index: 1;
	width:75%;
	height: 230px;
	margin-left: -15px;
	margin-top: 70px;
}
.member02{
	background-image: url(../images/member02.png);
	background-size: cover;
	position: absolute;
	z-index: 1;
	top:310px;
	width:75%;
	height: 230px;
	margin-left: -15px;
}
.member03{
	background-image: url(../images/member03.png);
	background-size: cover;
	position: absolute;
	z-index: 1;
	top:550px;
	width:75%;
	height: 230px;
	margin-left: -15px;
}
.member-letter{
	transform: rotate( 90deg );
	width: 772px;
	height:722px;
	float: right;
	position: relative;
}
.member-letter p{
	height:150px;
	margin-left: 30px;
}
.letter01{
	margin-top: -40px;
	color: #F8F8F8;
	font-family: "Play";
	font-weight: bold;
	font-size: 166px;
	text-shadow:1px 1px 0 #96E8E1, -1px -1px 0 #96E8E1,
              -1px 1px 0 #96E8E1, 1px -1px 0 #96E8E1,
              0px 1px 0 #96E8E1,  0-1px 0 #96E8E1,
              -1px 0 0 #96E8E1, 1px 0 0 #96E8E1;
}

.letter02{
	color: #66CCC4;
	font-family: "Play";
	font-weight: bold;
	font-size: 166px;
}

.letter03{
	color: #F8F8F8;
	font-family: "Play";
	font-weight: bold;
	font-size: 166px;
	text-shadow:1px 1px 0 #96E8E1, -1px -1px 0 #96E8E1,
              -1px 1px 0 #96E8E1, 1px -1px 0 #96E8E1,
              0px 1px 0 #96E8E1,  0-1px 0 #96E8E1,
              -1px 0 0 #96E8E1, 1px 0 0 #96E8E1;
}
.member-more{
	position: relative;
	float: right;
	height: 114px;
}
.member-bg {
	position: absolute;
	left: 500px;
	top: 50px;
}
.member-bg p{
	color: #66CCC4;
	font-weight: bold;
	font-family: "Josefin Sans";
	font-size: 23px;
	float: left;
	margin-right: 20px;
}

/*contact*/

.contact-wrapper{
	text-align: center;
	margin-bottom: 200px;
}
.contact-mail{
	display: inline-block;
}
.contact-mail p{
	float:left;
	font-weight:bold;
	font-family: "Play";
	font-size: 30px;
}
.contact{
	color: #3AD1C4;
}
#gmail{
	margin-left: 20px;
	padding-bottom: 20px;
	color:#51576C;
	border-bottom: dashed 2px #51576C;
}

.contact-msg{
	font-family: "Noto Sans CJK JP";
	font-size: 16px;
	color: #51576C;
	margin-top: 30px;
}

/*footer*/
.footer-bg{
	background-color: #FFF;
	margin: 0 auto;
	width:70%;
	color: #6AE2D7;
	height: 257px;
	position: relative;
}
.footer-sns{
	position: absolute;
	float: left;
	width:350px;
	margin-left: 50px;
	top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}
.facebook{
	color: #6AE2D7;
	margin-right: 25px;
}
.twitter{
	color: #6AE2D7;
	margin-right: 20px;
}
.instagram{
	color: #6AE2D7;
	margin-right: 5px;
}
.copyright{
	float:right;
	text-align: right;
	margin-right: 50px;
	margin-top: 110px;
}

/*about.html*/
/*header*/

.ab-bg{
	background-image: url(../images/about01.png);
	background-size: cover;
	height: 646px;
	position: relative;
}
.ab-base{
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 30px;
	height: 1471px;
	width: 96%;
	background-color: #66CCC4;

}
.ab-header{
	height: 152px;
}
.ab-cop{
	float: left;
	color: #FFF;
	font-family: "Josefin Sans";
	font-size: 81px;
	margin: 45px 0 25px 30px;
}
.ab-ab{
	display: inline-block;
	float: right;
	font-family: "Noto Sans CJK JP";
	font-weight: bold;
	font-size: 188px;
	margin: -40px -10px 0 0;
	color: transparent;
	text-shadow:1px 1px 0 #96E8E1, -1px -1px 0 #96E8E1,
              -1px 1px 0 #96E8E1, 1px -1px 0 #96E8E1,
              0px 1px 0 #96E8E1,  0-1px 0 #96E8E1,
              -1px 0 0 #96E8E1, 1px 0 0 #96E8E1;
}
.ab-msg{
	margin-left: -30px;
	margin-bottom: 100px;
	background-color: #FFF;
	height: 162px;
	width: 543px;
	padding: 70px 50px 70px 70px;
}
.ab-msg p{
	font-family: "Noto Sans CJK JP";
	font-weight: 100;
	font-size: 14px;
	color: #51576C;
	margin-bottom: 50px;
}
.ab-img{
	height: 302px;
	margin-bottom: 50px;
}
.ab-contents,.ab-contents01{
	width: 444px;
	height: 82px;
	float: left;
	text-align: center;
	padding: 120px 0 100px 0;
}
.ab-contents01{
	border-left: solid 2px #FFF;
	border-right: solid 2px #FFF;
}

/*map*/
.area img{
	width: 100%;
}

/*footer*/
.ab-footer{
	height: 196px;
	margin: 50px 30px 0px 30px;
}
.info{
	float: right;
	width: 299px;
}
.info h3{
	float: right;
	width: 235px;
	color: #FFF;
	font-family: "Play";
	font-size: 42px;
	font-weight:bold;
	border-bottom: dashed 2px #FFF;
	margin-left: 97px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.info p{
	text-align: right;
	color: #fff;
	font-family: "Play";
	font-size: 18px;
	font-weight:bold;
	padding-bottom: 10px;
}
.return{
	height: 23px;
	margin-left: 30px;
}
.return a{
	width: 46.5px;
	float: left;
}
.return p{
	float: left;
	color: #FFF;
	font-weight: bold;
	font-family: "Josefin Sans";
	font-size: 25px;
	margin-left: 10px;
}

/*member*/
/*body*/
.member-intro{
	height:708px;
	padding: 30px;
}
.prof{
	padding: 30px;
	background-color: #66CCC4;
}
.prof-a{
	height: 650px;
	position: relative;
}
.member-prof{
	height:77px;
}
.member-prof p{
	float: left;
	font-family: "Noto Sans CJK JP";
	font-weight: bold;
	font-size: 40px;
	width: 500px;
	padding-top: 10px;
	text-shadow:1px 1px 0 #96E8E1, -1px -1px 0 #96E8E1,
              -1px 1px 0 #96E8E1, 1px -1px 0 #96E8E1,
              0px 1px 0 #96E8E1,  0-1px 0 #96E8E1,
              -1px 0 0 #96E8E1, 1px 0 0 #96E8E1;
}
.member-prof a{
	float: left;
	color: #FFF;
}
.prof-sns{
	height: 77px;
	padding-top: 30px;
}
.prof-sns .facebook{
	margin-left: 30px;
}
.prof-sns .instagram{
	margin-right: 25px;
}
.prof0000{
	position: absolute;
	z-index: 1;
	top:-60px;
	right: -60px;
}
.prof1000{
	position: absolute;
	z-index: 1;
	top:200px;
	left:600px;
}
.member-return{
	height: 23px;
}
.member-return a{
	width: 46.5px;
	float: left;
}
.member-return p{
	float: left;
	color: #FFF;
	font-weight: bold;
	font-family: "Josefin Sans";
	font-size: 25px;
	margin-left: 10px;
}
.member-under{
	float: right;
	font-family: "Play";
	font-weight: bold;
	font-size: 20px;
	color: #66CCC4;
	padding: 8px 0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/*  HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: "Josefin Sans";
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
